@font-face{
    font-family: 'Klill Light';
    src: url('../Styles/Klill-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Brandon Grotesque';
    src: url('../Styles/BrandonGrotesque.ttf') format('truetype');
}

body{
    background-color: white;
}
h1{
    color: black;
    font-family: 'Brandon Grotesque', 'Klill Light','Open Sans', cursive; 
    font-size: 2.3em;
    text-align: center;
    padding:0;
    margin:0;
    margin-top: 50px;
}
h2{
    color: #AE954C;
    text-align: center;
    font-family: 'Brandon Grotesque', 'Klill Light', 'Open Sans', sans-serif;
    font-size: 2em;
    margin:0;
    padding:0;
}
.Images{
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70%;
}
p{
    background-color: #AE954C;
    color: black;
    font-family: 'Brandon Grotesque', 'Klill Light', 'Open Sans', sans-serif;
    font-size: 1.9em;
    width: 10%;
    text-align: center;
    Text-decoration: none;
    border: solid black 2px;
}
.Forcentering{
    width: 100%;
}
.English{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.French{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a, a:visited{
    color: black;
}
